<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestBlink.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1187E3C92BB41AB30038FBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1187E3DA2BB41AB50038FBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1187E3E42BB41AB50038FBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
